<!DOCTYPE html>
<html>
  <head>
    <!--base href="https://acsabai.github.io/anotherFolder/"-->
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>

<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
 
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>
<!-- 
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
-->
</ul>
    </nav>
<div class="container">

<h1> {{ page.dir | remove "classes" }} </h1>

  {{ content }}
  
<h3> Downloads:</h3>
<ul>
{% for file in site.static_files %}
{% if file.path contains page.dir %}
{% if file.path contains "/downloads/" %}
   <a href="{{ site.baseurl }}{{ file.path }}"> {{ file.path | remove: page.dir | remove: "downloads/" }} </a>
{% endif %}
{% endif %}
{% endfor %}
</ul>

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:anita.csabai@gmail.com">email</a></li>
   <li><a href="https://github.com/acsabai">github.com/acsabai</a></li>
   </ul>
  </footer>
  </body>

</html>
